/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #1f1f1f; /* Dark background */
    border-radius: 10px; /* Rounded track */
}

::-webkit-scrollbar-thumb {
    background: #333; /* Dark gray scrollbar */
    border-radius: 10px; /* Rounded scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Slightly lighter on hover */
}

/* For Firefox */
* {
    scrollbar-color: #333 #1f1f1f; /* thumb and track */
    scrollbar-width: thin; /* Smaller scrollbar */
}



.playlists{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}


body{
    margin:0;
    padding:0;
    background-color:#000;
    font-family: "Roboto", serif;
}

.icons{
    filter: invert(1);
}

#search:focus {
    border: none;
    outline: none;
    color: white;
}

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.middleHeader{
    display: flex;
}

.searchBox{
    display: flex;
    background: #1f1f1f;
    padding: 15px;
    border-radius: 50px;
    width: 400px;
    justify-content: space-between;

}

.hero{
    display: flex;
    gap:10px;
    padding: 10px;
    height: 75vh;
}

.left{
    width: 20%;
    background: #1f1f1f;
    border-radius: 10px;
    padding: 10px;
}
.right{
    width: 80%;
    background: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
    padding-top: 30px;
}

.card{
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    color:white;
    position: relative;
}

.card:hover{
    background: #4e4e4e;
}

.posterImg{
    height: 150px;
    width: 150px;
}

.playButton{
    position: absolute;
    top:125px;
    right: 10px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.footerMiddle{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.songCard{
    display: flex;
    padding: 10px;
    gap:10px;
    border : 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
    height: 80%;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0%;
}

.seekbar{
    height:4px;
    width:80%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.circle{
    height:10px;
    width:10px;
    background-color: greenyellow;
    position: absolute;
    top:-2px;
    left: 0%;
    border-radius: 50%;
    transition: left 0.5s;
    z-index: 20;
}

.elapsed{
    height:4px;
    width:0%;
    background-color: greenyellow;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.footerRight{
    /* width: 10%; */
    display: flex;
    
    padding:20px;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.volume{
    display: flex;
    align-items: center;
    gap:20px;
    padding-right: 10px;
}